<config template="android (default)" platform="android">Created: Sat Oct 31 20:50:04 2015
By: Jeremy
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" fromDef="true" value=""/>
    <option name="android-icon-group" fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option name="android-icon-gallery" fromDef="true" value=""/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="true" value=""/>
    <option name="android-external-assets" fromDef="true" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="true" value="com.J. J. Hartmann Industries.Stage1"/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Stage1"/>
    <option name="caption" fromDef="true" value="Stage1"/>
    <option name="provider" fromDef="true" value="J. J. Hartmann Industries"/>
    <option name="copyright" fromDef="true" value="(C) J. J. Hartmann Industries"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="true" value=""/>
    <option name="android-custom-activity" fromDef="true" value=""/>
    <option name="android-extra-manifest" fromDef="true" value=""/>
    <option name="android-extra-application-manifest" fromDef="true" value="c:/marmalade/7.10/extensions/s3eamazonads/source/android/ExtraAppManifests.xml"/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-version-name" fromDef="true" value=""/>
    <option name="android-version-code" fromDef="true" value=""/>
    <option name="android-target-sdk-version" fromDef="true" value="0"/>
    <option name="android-min-sdk-version" fromDef="true" value="0"/>
    <option name="android-unsigned" fromDef="true" value=""/>
    <option name="android-tm" fromDef="true" value=""/>
</config>
