<config template="project (default)" platform="project">Created: Sat Oct 31 20:50:00 2015
By: Jeremy
Using Template: project (default)

&lt;description to go here><option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Stage1" fromDef="true"/>
    <option name="caption" value="Stage1" fromDef="true"/>
    <option name="provider" value="J. J. Hartmann Industries" fromDef="true"/>
    <option name="copyright" value="(C) J. J. Hartmann Industries" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
