<config template="win10 (default)" platform="win10">Created: Sat Oct 31 20:50:04 2015
By: Jeremy
Using Template: win10 (default)

&lt;description to go here><option name="win10-publisher-display-name" value="" fromDef="true"/>
    <option name="win10-publisher-id" value="" fromDef="true"/>
    <option name="win10-identity-name" value="" fromDef="true"/>
    <option name="win10-description" value="" fromDef="true"/>
    <option name="win10-product-version" value="" fromDef="true"/>
    <option name="win10-product-name" value="" fromDef="true"/>
    <option name="win10-custom-manifest" value="" fromDef="true"/>
    <option name="win10-custom-manifest-fill" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Stage1" fromDef="true"/>
    <option name="caption" value="Stage1" fromDef="true"/>
    <option name="provider" value="J. J. Hartmann Industries" fromDef="true"/>
    <option name="copyright" value="(C) J. J. Hartmann Industries" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="win10-logo-image150x150" value="" fromDef="true"/>
    <option name="win10-logo-image50x50" value="" fromDef="true"/>
    <option name="win10-logo-image44x44" value="" fromDef="true"/>
    <option name="win10-splash-screen-image480x800" value="" fromDef="true"/>
    <option name="win10-splash-screen-background" value="" fromDef="true"/>
    <option name="win10-distribution-cer" value="" fromDef="true"/>
    <option name="win10-certificate-end-date" value="" fromDef="true"/>
    <option name="win10-distribution-pfx" value="" fromDef="true"/>
    <option name="win10-distribution-pfx-password" value="" fromDef="true"/>
    <option name="win10-extra-res" value="" fromDef="true"/>
    <option name="win10-ext-capabilities" value="" fromDef="true"/>
    <option name="win10-ext-uap-capabilities" value="" fromDef="true"/>
    <option name="win10-ext-device-capabilities" value="" fromDef="true"/>
</config>
